body{
    background: linear-gradient(160deg, rgb(133, 0, 0),rgb(114, 0, 0));
}

.Contact {
        display: grid;
        margin: 100px auto 0 auto;
        width: 85%;
        max-width: 1000px;
        height: 1050px;
        border-radius: 50px;
        background-color: rgb(158, 0, 0);
        color: white;
        border: 2px solid white;

        grid-template-rows: auto;
        grid-template-rows: 1fr 1fr;

    }

    #ContactUs {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        justify-items: center;
        margin: 25px auto 0px auto;
        height: 320px;
        width: 85%;
        max-width: 700px;
        background-color: #d11306;
        color: rgb(255, 255, 255);
        
        font-weight: 600;
        border-radius: 35px;
        border-width: 10px;
    }

    #ContactUs h1 {
        margin: 130px auto;
        font-size: 50px;
    }

    .MessageForm{
        margin: 0px 50px;
    }

    .form-label{
        font-size: 10px;
        margin-top: 10px;
    }

    #phoneNumber, #firstName, #lastName, #email, #message {
        color: white;
        background-color:#d11306;
        border-color: transparent;
    }

    #message {
        height: 250px !important;
        padding: 20px;
        overflow-y: visible;
        resize: none;
        border-radius: 30px;
    }

    .form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
    }

    #submitMessage{
        background-color: #d11306;
        margin: 40px 0;
        border-radius: 100px;
        padding: 10px 50px;
        border-color: transparent;
        color: white;
    }

    #inquiries {
        font-weight: 700;
        text-align: center;
        margin: 50px 0 10px 0;
    }

    .ContactsTable1, .ContactsTable2{
        margin: 0 auto;
        width: fit-content;
        border: 2px solid;
    }

    table th {
        text-align: center;
    }

    .ContactsTable1 td, .ContactsTable1 th {
        font-size: 12px;
        max-width: 900px;
        padding: 10px 10px;
        border: 0.1px solid;
    }

    .ContactsTable2 td, .ContactsTable2 th {
        font-size: 10px;
        max-width: 600px;
        padding: 10px 10px;
        border: 0.1px solid;
    }

    #disclaimer{
        font-style: italic;
        margin-top: 10px;
        text-align: center;
    }
@media (min-width: 768px){

    #ContactUs{
        width: 90%;
    }

    #ContactUs h1 {
        margin-top: 100px;
        font-size: 100px;
    }

    .MessageForm{
        margin: 10px 50px;
    }

    .ContactsTable1, .ContactsTable2{
        margin: 0 auto;
        width: 90%;
        max-width: 800px;
        border: 2px solid;
    }

    .ContactsTable1 td, .ContactsTable1 th {
        font-size: 12px;
        width: 400px;
        padding: 20px 10px;
        border: 0.1px solid;
    }

    .ContactsTable2 td, .ContactsTable2 th {
        font-size: 12px;
        width: 400px;
        padding: 10px 10px;
        border: 0.1px solid;
    }


}

@media (min-width: 1025px) {
    .Contact {
        display: grid;
        margin: 150px auto;
        width: 100%;
        max-width: 1300px;
        height: 800px;
        border-radius: 50px;
        background-color: rgb(95, 0, 0);
        color: white;
        gap: 50px;
        border: 2px solid white;

        grid-template-columns: 1fr 1fr;

    }

    #ContactUs {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        justify-items: center;
        margin: 40px;
        height: 720px;
        width: 100%;
        background-color: rgb(110, 0, 0);
        color: rgb(255, 255, 255);
        
        font-weight: 600;
        border-radius: 35px;
        border-width: 10px;
    }

    #ContactUs h1 {
        margin-top: 270px;
        font-size: 100px;
    }

    .MessageForm{
        margin: 50px;
    }

    .form-label{
        font-size: 14px;
        margin-top: 10px;
    }

    #phoneNumber, #firstName, #lastName, #email, #message {
        color: white;
        background-color: rgb(110, 0, 0);
        border-color: transparent;
    }

    #message {
        height: 250px !important;
        padding: 20px;
        overflow-y: visible;
        resize: none;
        border-radius: 30px;
    }

    .form-control::placeholder {
    color: rgba(255, 255, 255, 0.6);
    }

    #submitMessage{
        background-color: rgb(110, 0, 0);
        margin: 40px 0;
        border-radius: 100px;
        padding: 10px 50px;
        border-color: transparent;
        color: white;
    }

    #inquiries {
        font-weight: 700;
        text-align: center;
        margin: 50px 0 10px 0;
    }

    .ContactsTable1, .ContactsTable2{
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
        border: 2px solid;
    }

    table th {
        text-align: center;
    }

    .ContactsTable1 td, .ContactsTable1 th {
        font-size: 18px;
        width: 400px;
        padding: 20px 50px;
        border: 0.1px solid;
    }

    .ContactsTable2 td, .ContactsTable2 th {
        font-size: 18px;
        width: 400px;
        padding: 20px 50px;
        border: 0.1px solid;
    }

    #disclaimer{
        font-style: italic;
        margin-top: 10px;
        text-align: center;
    }
}