


.ProdHead{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.ProdTitle{
    font-weight: 900;
    color:#990e05;
    background-color: rgb(230, 230, 230);
    width:fit-content;
    padding: 5px 40px ;
    border-radius: 100px;
}

.ProdTitle p{
    margin: 5px 0px;
    font-size: 12px;
    color: black;
}

#SearchBar {
    border-radius: 40px;
    border-width: 1.5px;
    max-width: 85%;
    padding: 0px 10px;
    border-color: #990e05;
}

#Prodlist {
    padding: 0px 50px;
    display:grid;
    gap: 20px;
    grid-template-columns: 1fr;
}

.card {
    padding: 30px;
    border-width: 3px;
}

.card-title {
    color:#990e05;
    font-weight: 900;
    font-size: 14px;
}

.card-footer{
    background-color: #990e05;
    padding: 1px 0;
}

 .card-mart img{
    width: 200px;
    height: 200px;
    }

#dropdownMart{
    background-color: #990e05;
    font-size: 20px;
    font-weight: 900;
}

@media (min-width: 768px) {

    .ProdTitle{
        font-size: 40px;
        
    }

    .ProdHead{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0 50px;
    }

    .ProdTitle p{
    font-size: 20px;
    }

    #SearchBar {
        width: auto;
        border-radius: 40px;
        padding: 0px 40px;
    }

    #Prodlist {
        display:grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr;
        padding: 0px 50px;
    }

    .card{
        height: 700px;
    }

    .card img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .card-title {
        font-size:20px;
    }

    .card-footer{
    padding: 3px 0;
    }

    .card-mart img{
        width: 300px;
        height: 300px;
    }

    #dropdownMart{
        font-size: 30px;
        font-weight: 900;
    }
}
@media (min-width: 1025px) {

    .ProdHead{
        padding: 0 100px;
    }
    #Prodlist {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 100px;

    }
    .card{
    height: 800px;
    }

    .card-mart{
        margin-top: 50px;
    }

    .card-mart img{
        width: 400px;
        height: auto;
        max-width: 100%;
        object-fit: contain;
        display: block;
    }

    .card-mart img:hover{
       transform: scale(1.1);
    }
    .card img{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .card-title {
        font-size:24px;
    }
}